/*======================================


Universal Styling

======================================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #0d0a15;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-top: 150px;
}


/*======================================


Nav Menu Styling

======================================*/

header{
  display:inline;
  background: #0d0a15;
  top: 0;
}

nav.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background: #0d0a15;
    z-index: 100;
}

.menu ul {
  list-style: none;
  float: right;
}

.logo {
  background: #0d0a15;
  width: 350px;
  float: left;
  position:static;
}

.menu > ul {
  padding-top: 50px;
}

.menu > ul > li {
  display: inline-block;
  background: #0d0a15;
  margin-bottom: 1px;
  position: relative;
  vertical-align: top;
  padding: 0 50px;

}

.menu > ul > li{
  border-left: 5px solid white;
}

.menu > ul > li:nth-child(1) {
  border-left: 0;
}

.menu > ul > li:nth-child(2) {
  padding: 0 40px;
}

.menu > ul > li:nth-child(3) {
  padding: 0 60px;
  text-align: center;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;

}

.menu ul li a:hover {
  border-bottom: 4px solid #9f8acd;
}

.menu ul li a:active {
  color: #9f8acd;
}

.sub-menu {
  display: none;
  background: #9f8acd;
  position: absolute;
  text-align: center;
  margin: 0 -60px;
  padding: 0 21px;
}

.sub-menu ul li {
  margin-top: 0;
}

.menu-item:hover .sub-menu {
  display:block;
}

ul.sub-menu li:hover {
    background: #2a2236;
}

/*======================================


Main Body Styling

======================================*/

.container {
  margin-top: 153px;
  background: #2a2236;
  max-width: 1580px;
}

/*======================================


Hero Slider Styling

======================================*/

.slick-slide {
  position: relative;
  z-index: -2;
}

.hero-slider img {
  width: 100%;
}

.slick-next {
    right: 10px;
}

.slick-prev {
    left: 10px;
    z-index: 1;
}

.slick-prev::before {
    content: "<";
    color: #9f8acd;
    font-size: 50px;
    font-weight: bold;
}

.slick-next::before {
    content: ">";
    color: #9f8acd;
    font-size: 50px;
    font-weight: bold;
}
